body{
    background-color: darkgreen;
    margin-left: 40px;
    margin-right: 40px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: whitesmoke;
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: orangered;
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: tomato;
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: darkgreen;
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }
table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    color: white;
    background-color: darkgreen;
    padding: 10px;
}
